<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用XML动态SQL需要关联DAO接口，所以namespace为dao接口的路径 -->
<mapper namespace="com.dormitory.mapper.AnnouncementMapper">
	<resultMap id="announcement" type="com.dormitory.entity.Announcement">
		<id column="announcement_id" jdbcType="INTEGER" property="announcementId" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="content" jdbcType="VARCHAR" property="content" />
		<result column="img_path" jdbcType="VARCHAR" property="imgPath" />
		<result column="author_id" jdbcType="INTEGER" property="authorId" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="importance" jdbcType="INTEGER" property="importance" />
		<result column="building_id" jdbcType="INTEGER" property="buildingId" />
	</resultMap>

</mapper>