<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dormitory.mapper.CampusCardMapper">
  <resultMap id="campusCard" type="com.dormitory.entity.CampusCard">
    <id column="campus_card_id"  property="campusCardId" />
    <result column="student_id" property="studentId" />
    <result column="card_balance" property="cardBalance" />
    <result column="hotwater_balance" property="hotwaterBalance" />
  </resultMap>
 
</mapper>