<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dormitory.mapper.CampusCardRecordMapper">
  <resultMap id="campusCardRecord" type="com.dormitory.entity.CampusCardRecord">
    <id column="campus_card_record_id" jdbcType="INTEGER" property="campusCardRecordId" />
    <result column="campus_card_id" jdbcType="INTEGER" property="campusCardId" />
    <result column="business" jdbcType="VARCHAR" property="business" />
    <result column="money" jdbcType="INTEGER" property="money" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="state" jdbcType="VARCHAR" property="state" />
  </resultMap>
 
</mapper>