<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dormitory.mapper.DeviceMapper">
	<resultMap id="device" type="com.dormitory.entity.Device">
		<id column="device_id" jdbcType="BIGINT" property="deviceId" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="img_path" jdbcType="VARCHAR" property="imgPath" />
		<result column="description" jdbcType="VARCHAR" property="description" />
		<result column="model_path" jdbcType="VARCHAR" property="modelPath" />
	</resultMap>

</mapper>