<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dormitory.mapper.DeviceMapper">
	<resultMap id="device" type="com.dormitory.entity.Device">
		<id column="device_id" jdbcType="BIGINT" property="deviceId" />
		<result column="dormitory_id" jdbcType="INTEGER" property="dormitoryId" />
		<result column="student_id" jdbcType="BIGINT" property="studentId" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="type" jdbcType="INTEGER" property="type" />
		<result column="state" jdbcType="INTEGER" property="state" />
		<result column="path" jdbcType="VARCHAR" property="path" />
	</resultMap>

</mapper>