<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dormitory.dao.ElectricityMapper">
  <resultMap id="electricity" type="com.dormitory.entity.Electricity">
    <id column="dormitory_id" jdbcType="INTEGER" property="dormitoryId" />
    <result column="rest_electricity" jdbcType="DECIMAL" property="restElectricity" />
    <result column="sum_electricity" jdbcType="DECIMAL" property="sumElectricity" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
  </resultMap>
 
</mapper>