<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dormitory.mapper.ElectricityRecordMapper">
  <resultMap id="electricityRecord" type="com.dormitory.entity.ElectricityRecord">
    <id column="electricity_record_id" jdbcType="INTEGER" property="electricityRecordId" />
    <result column="dormitory_id" jdbcType="INTEGER" property="dormitoryId" />
    <result column="money" jdbcType="INTEGER" property="money" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="buy_electricity" jdbcType="DECIMAL" property="buyElectricity" />
    <result column="state" jdbcType="VARCHAR" property="state" />
  </resultMap>
  
</mapper>