<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dormitory.mapper.LostFoundMapper">
  <resultMap id="lostFound" type="com.dormitory.entity.LostFound">
    <id column="lost_found_id" jdbcType="INTEGER" property="lostFoundId" />
    <result column="student_id" jdbcType="BIGINT" property="studentId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="publisher_id" jdbcType="INTEGER" property="publisherId" />
    <result column="place" jdbcType="VARCHAR" property="place" />
    <result column="img_path" jdbcType="VARCHAR" property="imgPath" />
  </resultMap>
  
  <resultMap id="lostFoundDTO" type="com.dormitory.dto.master.LostFoundDTO">
    <id column="lost_found_id" jdbcType="INTEGER" property="lostFoundId" />
    <result column="student_id" jdbcType="BIGINT" property="studentId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="publisher_id" jdbcType="INTEGER" property="publisherId" />
    <result column="place" jdbcType="VARCHAR" property="place" />
     <result column="img_path" jdbcType="VARCHAR" property="imgPath" />
     <result column="name" jdbcType="VARCHAR" property="publisher" />
  </resultMap>
</mapper>