<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dormitory.mapper.MasterMapper">
  <resultMap id="master" type="com.dormitory.entity.Master">
    <id column="master_id" jdbcType="BIGINT" property="masterId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone_number" jdbcType="BIGINT" property="phoneNumber" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="password" jdbcType="VARCHAR" property="password" />
   <result column="out_date" jdbcType="TIMESTAMP" property="outDate" />
  </resultMap>
 
</mapper>