<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dormitory.mapper.PostcardMapper">
  <resultMap id="postcard" type="com.dormitory.entity.Postcard">
    <id column="postcard_id" jdbcType="INTEGER" property="postcardId" />
     <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="building_id" jdbcType="INTEGER" property="buildingId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
 
 
 <resultMap id="postcardDTO" type="com.dormitory.dto.PostcardDTO">
    <id column="postcard_id" jdbcType="INTEGER" property="postcardId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="building_name" jdbcType="VARCHAR" property="buildingName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
</mapper>