<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dormitory.mapper.StudentMapper">
	<resultMap id="student" type="com.dormitory.entity.Student">
		<id column="student_id" jdbcType="BIGINT" property="studentId" />
		<result column="dormitory_id" jdbcType="INTEGER" property="dormitoryId" />
		<result column="bed_id" jdbcType="INTEGER" property="bedId" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="phone_number" jdbcType="BIGINT" property="phoneNumber" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="out_date" jdbcType="TIMESTAMP" property="outDate" />
		<result column="validate_code" jdbcType="VARCHAR" property="validateCode" />
		<result column="img_path" jdbcType="VARCHAR" property="imgPath" />
	</resultMap>

</mapper>